<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ETABSProgramPath" value="C:\Program Files\Computers and Structures\ETABS 19\ETABS.exe" />
    <add key="SectionPropertyDataPath" value="C:\Program Files\Computers and Structures\ETABS 19\Property Libraries\AISC14M.xml" />
  </appSettings>
</configuration>

